# SPDX-FileCopyrightText: 2025 Daniel Eder
#
# SPDX-License-Identifier: CC0-1.0

LEANTIME_URL=https://leantime.k8s-test
LEANTIME_ACCESS_TOKEN=your_personal_access_token_here
# k8s-test 등 자체 서명 인증서 환경에서만 false
LEANTIME_SSL_VERIFY=false
